.p1{
    color: black;
}

.p2{
    color: pink;
}

.p3{
    color: black;
}

/* text align */
.a{
text-align: center;
}
.b{
text-align: right;
}
.c{
text-align: left;
}
.d{
text-align: justify;
}

/* text indent */
.indent-text{
    text-indent: 50px;
}

/* text decoration * transform * letter spacing*/
.decor h2{
text-decoration: overline;
text-transform: uppercase;
letter-spacing: 3px;
}
.decor h3{
    text-decoration: line-through;
    text-transform: lowercase;
    word-spacing: 30px;
}
.decor h4{
    text-decoration: underline;
    text-transform: capitalize;
}
.decor h5{
    text-decoration: underline overline;
}