body{
    background-color: lightgreen;
}



.wrapper{
    background-color: white;
    margin-left:50px;
    margin-right: 50px;
    width: 1200px;
    height: 80%;

   
    /* overflow auto; otomatis menambahkan scroll untuk 
    melihat konten,hidden;menyembunyikan konten sesuai
    lebar frame,scroll; menambahkan scrollsebanyak apapun kontennya 
     */
}

.wrapper .box-1{
    width: 150px;
    height: 150px;
    background-color: green;
    overflow: auto;
    display: inline-block;
}
.wrapper .box-2{
    width: 150px;
    height: 150px;
    background-color: red;
    overflow: hidden;
    display: inline-block;
}
.wrapper .box-3{
    width: 150px;
    height: 150px;
    background-color: yellow;
    overflow: scroll;
    display: inline-block;
}
.wrapper .box-4{
    width: 70px;
    height: 150px;
    background-color: lightseagreen;
    overflow-x: scroll ;
    display: inline-block;
}