body {
    background-image: url(../tugas/money\ bg.jpg);
    background-size: 1500px;
}

.wrapper {
    background-color: white;
    height: 1100px;
    width: 950px;
    margin: auto;
    border-radius: 10px;
}

.judul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foto {
    background-image: url(../tugas/harga-fotofoto-ghozali-bikin-melongo-ada-yang-laku-rp42-miliiar-fwx.jpg);
    height: 600px;
    padding: 0px;
    background-size: cover;
    border-top: 10px solid black;
    border-bottom: 8px solid pink;

}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid white;
    background-color: #f3f3f3;
    border-radius: 10px;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: black;
    background-color: rgb(255, 255, 255);
}
